/*HTML*/
* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: Arial, serif;
    margin: 2rem auto;
    padding-bottom: 2rem;
    min-width: 30rem;
    max-width: 50rem;
    color: #333333;
    display: grid;
    min-height: 100vh;
    grid-template-rows: 2.5rem auto 2.5rem;
}
/*Navigation and Footer*/
.header, .footer {
    display: flex;
    background-color: #c3e6cb;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    border-width: 3px;
    border-style: solid;
    border-color: #666666;
    font-size: 20px;
    color: black;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    background-color: #C0E0F0;
}
/*Main*/
main {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 15rem;
}
#book-list-table, #author-list-table{
    display: table;
    width: 100%;
}
.header-row {
    display: table-header-group;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid black;
}
.header-cell {
    border-bottom: 2px solid black;
    padding-top: 15px;
    padding-bottom: 10px;
}
.content-cell {
    padding-top: 15px;
}
.author-cell, .grade-cell, .title-cell, .firstname-cell, .lastname-cell {
    display: table-cell;
    text-align: justify;
}
.content-row {
    display: table-row;
}
